.header {
  height: 40px;
  padding: 0 10px;
}
.search-wrap {
  background-color: #f4f4f4;
}
.search input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  height: 30px;
  font-size: 16px;
  vertical-align: middle;
  line-height: 1;
  padding-left: 30px;
}
.search .icon-sousuo {
  font-size: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.cityList .alphabet {
  height: 28.5px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 15px;
}
.cityList .wrap {
  background-color: #fff;
  flex-wrap: wrap;
  padding: 0 15px;
}
.cityList .wrap p {
  display: flex;
  width: 33.333333%;
  height: 43px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
