.list .item .img {
  width: 100%;
}
.list .item .box {
  width: 160px;
}
.list .item .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.list .item .avatar img:last-child {
  left: 20px;
}
.list .item .btn {
  background-color: #c03131;
  width: 90px;
  height: 35px;
  border-radius: 5px;
}
.list .item .line-through {
  text-decoration: line-through;
  color: gray;
}
.list .item .price {
  color: #c03131;
}
