input{
    display: block;
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: 65px;
    line-height: 1;
    margin-top: 50px;
    caret-color: #00b1ff;
    padding-right: 15px;
    
}
.buttons{
    height: 400px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 25px;
    .col{
        .btn{
            width: 75px;
            height: 75px;
            // background-color: #00b1ff;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .equal{
            height: 156.25px;
            background-color: #00b1ff;
            color: white;
        }
    }
    .f2f2f2{
        background-color: #f2f2f2;
    }
    .blue{
        color: #00b1ff;
    }
    .bg-blue{
        background-color: #e5f8ff;
    }
}
body{
    background-color: #fff;
}