.header {
    width: 100%;
    height: 46px;
    padding: 0 15px;

    p:first-child {
        color: #c03131;
        font-size: 14px;
    }

    p:nth-child(2) {
        font-size: 16px;
    }

    p:nth-child(3) {
        width: 44px;
    }
}

p {
    color: #323233;
}

.slides {

    img {
        width: 100%;
    }
}

.info {
    padding: 15px;
    .title {
        // display: flex;
        line-height: 25px;
        span{
            display: inline-block;
            margin-right: 5px;
            font-size: 12px;
            padding: 0 5px;
            color: #fff;
            &:first-child{
                background-color: rgb(120,160,209);
            }
            &:nth-child(2){
                background-color: rgb(145,188,111);
            }
        }

        p {
            font-size: 15px;
            display: inline;
        }
    }
    .box{
        padding: 10px 16px;
        border-bottom: 1px solid #f4f4f4;
    }
    
}